<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Users</title>
  <style>
    table th, table td {
      padding: 5px;
    }

    .row {
      font-style: italic;
    }

    .even-row {
      color: black;
    }

    .odd-row {
      color: blue;
    }
  </style>
</head>
<body>
<h1>Users Table</h1>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr th:each="user, state : ${users}"
      class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
    <td th:utext="${state.count}" >Id</td>
    <td th:utext="${user.firstName}">Name</td>
    <td th:utext="${user.lastName}">LastName</td>
    <td th:utext="${user.email}">Email</td>
    <td >
      <a th:href="@{/{id}/edit(id=${user.getId()})}" th:text="Edit">edit</a>
    </td>
    <td >
      <form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>

  </tr>
</table>
<br>
<a href="/new">Create new user</a>

</body>
</html>